name: eleventy build

on:
  push:
    branches: ["main"]

jobs:
  build:
    name: build

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: ['20.11.1']

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'

      - name: Install packages
        run: npm ci

      - name: Run npm build
        run: npm run build

      # share between different jobs
      - uses: actions/upload-artifact@v4
        with:
          name: _site
          path: _site/

      # Display error log if npm build fails
      - name: Print the latest npm log file
        if: failure()
        run: cat $(ls -t /home/runner/.npm/_logs/ | head -n 1)
        working-directory: /home/runner/.npm/_logs/
